body {
    background-color: rgb(167, 57, 180);
  }
  h1 {
    color: rgb(0, 255, 110);
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 60px;
    text-decoration-line: underline;
    text-shadow: 2px 2px;
  }
  p {
    text-align: left;;
    color: rgb(16, 41, 21);
    font-family: "Lucida Console", "Courier New", monospace;
    font-weight: bold;
    font-size: 20px;
    text-shadow: 2px 2px 5px 
  }
  
  